@import "../../styles.scss";

.logo {
    text-align: center;
    color: $gray-color;
    * {
        display: inline-block;
    }
    .icon {
        font-size: 50pt;
        position: relative;
        top: 5px;
        right: 5px;
    }
}

.menu {
    width: 500px;
    margin: auto;
    .buttons {
        .button {
            margin-top: 10px;
            width: 100%;
            min-height: 50px;
            padding: 10px;
            border-radius: .65em;
            color: white;
            font-size: xx-large;
            text-align: center;
            cursor: pointer;
            .icon {
                position: relative;
                right: 5px;
                top: 5px;
            }
            .text {
                position: relative;
                top: 5px;
            }
        }
        .easy.button {
            background-color: $ok-color;
        }
        .normal.button {
            background-color: $warning-color;
        }
        .hard.button {
            background-color: $bomb-color;
        }
        .hardcore.button {
            background-color: $gray-color;
        }
        .custom.button {
            background-color: $cell-bg-color;
            color: $gray-color;
        }
        .scores.button {
            background-color: $cell-bg-color;
            color: $gray-color;
        }
    }
}

%formElement {
    display: block;
    padding: 10px;
    border-radius: .50em;
    border: 0px;
    margin-top: 10px;
    width: 100%;
}

.back {
    .icon {
        font-size: xx-large;
    }
    .text {
        font-size: larger;
        position: relative;
        left: 10px;
        bottom: 5px;
    }
}

.customMenu {
    width: 500px;
    margin: auto;
    input {
        @extend %formElement;
        background-color: $cell-bg-color;
    }
    button {
        cursor: pointer;
        @extend %formElement;
        width: calc(100% + 20px);
        background-color: $cell-color;
        color: white;
    }
    button.invalid {
        background-color: $cell-bg-color;
        cursor: default;
    }
    .error {
        position: relative;
        top: 15px;
        font-size: larger;
        color: $bomb-color;
    }
}

.scoresMenu {
    width: 500px;
    margin: auto;
    .scoresTable {
        width: 100%;
        tr.header {
            background-color: $gray-color;
            color: white;
        }
        tr.data {
            background-color: $cell-bg-color;
            td.easy {
                color: $ok-color;
            }
            td.normal {
                color: $warning-color;
            }
            td.hard {
                color: $bomb-color;
            }
            td.hardcore {
                color: $gray-color;
            }
            td.custom {
                color: $cell-color;
            }
        }
        td, th {
            padding: 3px;
            text-align: center;
        }
    }
    .noData {
        text-align: center;
        .text {
            font-size: xx-large;
        }
    }
}

footer {
    text-align: center;
    .icon.github {
        font-size: xx-large;
        color: $gray-color;
    }
    .icon.red {
        color: $bomb-color;
    }
}