<div class="menu">

    <!-- Logo -->
    <div class="logo">
        <fa-icon [icon]="faBomb" class="icon"></fa-icon>
        <h1>MINESWEEPER</h1>
    </div>

    <!-- Difficulty selection buttons -->
    <div class="buttons" *ngIf="!showCustomMenu && !showScoresMenu">

        <!-- Easy -->
        <div class="easy button" (click)="selectMode('EASY')">
            <span class="text">EASY</span>
        </div>
    
        <!-- Normal -->
        <div class="normal button" (click)="selectMode('NORMAL')">
            <span class="text">NORMAL</span>
        </div>
    
        <!-- Hard -->
        <div class="hard button" (click)="selectMode('HARD')">
            <span class="text">HARD</span>
        </div>
    
        <!-- Hardcore -->
        <div class="hardcore button" (click)="selectMode('HARDCORE')">
            <span class="text">HARDCORE</span>
        </div>

        <!-- Custom -->
        <div class="custom button" (click)="toggleCustomMenu()">
            <fa-icon [icon]="faWrench" class="icon"></fa-icon>
            <span class="text">CUSTOM GAME</span>
        </div>

        <!-- Scores -->
        <div class="scores button" (click)="toggleScoresMenu()">
            <fa-icon [icon]="faTrophy" class="icon"></fa-icon>
            <span class="text">SCORES</span>
        </div>

        <!-- Footer informations -->
        <footer>
            <p>
                Made with
                <fa-icon class="red icon" [icon]="faAngular"></fa-icon> 
                and
                <fa-icon class="red icon" [icon]="faHeart"></fa-icon>  
                by Lucas MACORI
            </p>
            <a href="https://github.com/LegitBaboulinet/ng-minesweeper" target="_blank">
                <fa-icon class="github icon" [icon]="faGithub"></fa-icon>
            </a>
        </footer>
    </div>
</div>

<div class="customMenu" *ngIf="showCustomMenu && !showScoresMenu">

    <!-- Back button -->
    <div class="back selectable" (click)="toggleCustomMenu()">
        <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
        <span class="text">GO BACK TO MENU</span>
    </div>

    <!-- Form -->
    <form [formGroup]="customFormGroup">

        <!-- Fields -->
        <input appOnlyNumbers type="text" min="4" max="99999" placeholder="COLUMNS" formControlName="cols" />
        <input appOnlyNumbers type="text" min="4" max="99999" placeholder="ROWS" formControlName="rows" />

        <!-- Validation button -->
        <button type="submit" [ngClass]="customSubmitClasses" (click)="selectCustomMode()">
            PLAY CUSTOM GAME
        </button>
    </form>
</div>

<div class="scoresMenu" *ngIf="showScoresMenu && !showCustomMenu">
    <!-- Back button -->
    <div class="back selectable" (click)="toggleScoresMenu()">
        <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
        <span class="text">GO BACK TO MENU</span>
    </div>

    <!-- Scores table -->
    <table class="scoresTable" *ngIf="scores && scores.length > 0">
        <tr class="header">
            <th>Mode</th>
            <th>Columns</th>
            <th>Rows</th>
            <th>Bombs</th>
            <th>Time</th>
            <th>Date</th>
        </tr>
        <tr class="data" *ngFor="let score of scores">
            <td [ngClass]="{ 'easy': score.mode === 'EASY', 'normal': score.mode === 'NORMAL', 'hard': score.mode === 'HARD',
                'hardcore': score.mode === 'HARDCORE', 'custom': score.mode === 'CUSTOM' }">
                {{ score.mode }}
            </td>
            <td>{{ score.cols }}</td>
            <td>{{ score.rows }}</td>
            <td>{{ score.bombs }}</td>
            <td>{{ score.time | timer }}</td>
            <td>{{ score.date | date:'dd/MM/yyyy HH:mm' }}</td>
        </tr>
    </table>

    <!-- No data message -->
    <div class="noData" *ngIf="!scores || scores.length === 0">
        <span class="text">NO SAVED SCORES YET</span>
    </div>
</div>