<div class="menu">

    <!-- Logo -->
    <div class="logo">
        <fa-icon [icon]="faBomb" class="icon"></fa-icon>
        <h1>MINESWEEPER</h1>
    </div>

    <!-- Difficulty selection buttons -->
    <div class="buttons" *ngIf="!showCustomMenu">

        <!-- Easy -->
        <div class="easy button" (click)="selectMode('EASY')">
            <span class="text">EASY</span>
        </div>
    
        <!-- Normal -->
        <div class="normal button" (click)="selectMode('NORMAL')">
            <span class="text">NORMAL</span>
        </div>
    
        <!-- Hard -->
        <div class="hard button" (click)="selectMode('HARD')">
            <span class="text">HARD</span>
        </div>
    
        <!-- Hardcore -->
        <div class="hardcore button" (click)="selectMode('HARDCORE')">
            <span class="text">HARDCORE</span>
        </div>

        <!-- Custom -->
        <div class="custom button" (click)="toggleCustomMenu()">
            <fa-icon [icon]="faWrench" class="icon"></fa-icon>
            <span class="text">CUSTOM</span>
        </div>
    </div>
</div>

<div class="customMenu" *ngIf="showCustomMenu">

    <!-- Back button -->
    <div class="back selectable" (click)="toggleCustomMenu()">
        <fa-icon class="icon" [icon]="faArrowLeft"></fa-icon>
        <span class="text">GO BACK TO MENU</span>
    </div>

    <!-- Form -->
    <form [formGroup]="customFormGroup">

        <!-- Fields -->
        <input appOnlyNumbers type="text" min="4" max="99999" placeholder="COLUMNS" formControlName="cols" />
        <input appOnlyNumbers type="text" min="4" max="99999" placeholder="ROWS" formControlName="rows" />

        <!-- Validation button -->
        <button type="submit" [ngClass]="customSubmitClasses" (click)="selectCustomMode()">
            PLAY CUSTOM GAME
        </button>
    </form>
</div>

<footer>
    <p>
        Made with
        <fa-icon class="red icon" [icon]="faAngular"></fa-icon> 
        and
        <fa-icon class="red icon" [icon]="faHeart"></fa-icon>  
        by Lucas MACORI
    </p>
    <a href="https://github.com/LegitBaboulinet/ng-minesweeper" target="_blank">
        <fa-icon class="github icon" [icon]="faGithub"></fa-icon>
    </a>
</footer>