@import "../styles.scss";

.stop {
    width: 500px;
    margin: auto;
    color: $bomb-color;
    .icon {
        font-size: xx-large;
    }
    .text {
        font-size: larger;
        position: relative;
        left: 10px;
        bottom: 5px;
    }
}
.grid {
    margin-top: 20px;
}