@import "../../styles.scss";

%icon {
    position: relative;
    top: 5px;
}

.row {
    display: flex;
    justify-content: center;
    .cell {
        background-color: $cell-color;
        border-radius: .20em;
        width: 50px;
        height: 50px;
        margin: 5px 5px 5px 5px;
        display: inline-block;
        cursor: pointer;
        .item {
            display: flex;
            justify-content: center;
            font-size: 30pt;
        }
        .item.flag {
            @extend %icon;
            color: white;
        }
        .item.bomb {
            @extend %icon;
            color: $gray-color;
        }
        .item.text.one {
            color: $flag-color;
        }
        .item.text.two {
            color: $ok-color;
        }
        .item.text.three {
            color: $warning-color;
        }
        .item.text.four {
            color: $bomb-color;
        }
    }
    .clicked {
        background-color: $cell-bg-color;
    }
    .flagged {
        background-color: $flag-color;
    }
    .bomb {
        background-color: $bomb-color;
    }
}