<table class="header">
    <tr>
        <!-- Timer -->
        <td class="item clock">
            <fa-icon [icon]="faClock" class="icon"></fa-icon>
            <span class="timer">{{ timer }}</span>
        </td>

        <!-- Game text (Win or loose) -->
        <td class="item middle">
            <span class="win" *ngIf="isWin()">YOU WIN !</span>
            <span class="loose" *ngIf="isLoose()">YOU LOOSE !</span>
        </td>
        
        <!-- Flag count -->
        <td class="item right">
            <div class="item flag">
                <fa-icon [icon]="faFlag" class="icon"></fa-icon>
                <span>{{ flags }}</span>
            </div>
        
            <!-- Bomb count -->
            <div class="item bomb">
                <fa-icon [icon]="faBomb" class="icon"></fa-icon>
                <span>{{ bombs }}</span>
            </div>
        </td>
    </tr>
</table>